@{
    ViewBag.Title = "History";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page will be used to view user workout history
    TODO: Display calender--user clicks on a date and will display logged
    workout for that day</p>
