@model RedyFitness.Dto.Login
@{
    ViewBag.Title = "Home Page";
}  

    <center>
        <img src="~/Content/RedyFitnessLogoHomePage.jpg" width="500" height="300" />

        <h2>Username</h2>
        <div class=" form-group-sm">
            @Html.TextBoxFor(x => x.userName, new { @class = "form-control" })
        </div><br />

        <h2>Password</h2>
        <div class="form-group-sm">
            @Html.PasswordFor(x => x.userPassword, new { @class = "form-control" })<br />
        </div>
        <div class="text-center">
            <input class="btn-sm btn-primary" type="submit" value="Login" />

            <input class="btn-sm btn-primary" type="submit" value="Forgot account" /><br />

            @Html.ActionLink("Create new account","CreateAccount","Home")

        </div>
    </center>

  
 
