
@{
    ViewBag.Title = "Home";
}
<br />
<br />
<h1><p class="text-info">YOU ARE NOW LOGGED IN</p></h1>
@Html.ActionLink("Signout", "Logout")
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


